@font-face {
	font-family: "CharterITC";
	font-display: swap;
	src:
		local("CharterITC"),
		url("./src/fonts/CharterITC-Black.woff2") format("woff2"),
		url("./src/fonts/CharterITC-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Bold.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Black.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-ExtraBold.woff2") format("woff2"),
		url("./src/fonts/TildaSans-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Light.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Medium.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Regular.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "TildaSans";
	font-display: swap;
	src:
		local("TildaSans"),
		url("./src/fonts/TildaSans-Semibold.woff2") format("woff2"),
		url("./src/fonts/TildaSans-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
